ultralytics==8.3.141
ultralytics-thop==2.0.14
torch==2.5.0
torchvision==0.20.0
fastapi==0.115.12
uvicorn==0.34.2
starlette==0.46.2
pydantic==2.11.4
python-multipart==0.0.20
pillow==11.2.1
opencv-python==4.11.0.86
numpy==2.2.6
pandas==2.2.3
scipy==1.15.3
matplotlib==3.10.3
requests==2.32.3
PyYAML==6.0.2
tqdm==4.67.1
streamlit==1.45.1
pytest==8.3.5
httpx==0.28.1